#pie-chart {
    width: 800px;
    height: 400px;
    position:absolute;
    left:0;
    top:0;
}

#strip-plot {
    width: 800px;
    height: 200px;
    position:absolute;
    left:0;
    top:400px;
}
